.wrapper {
    margin-top: 15.2vh;
    text-align: justify;
}

.title {
    text-align: center;
}

.subtitle {
    margin-left: 35px;
    margin-bottom: 15px;
}

.subsubtitle {
    margin-left: 35px;
    word-spacing: 7px;
    margin-right: 60px;
    margin-bottom: 10px;
}

.partOfLaw {
    font-weight: 600;
    color: black;
}

.subsubsubtitle {
    margin-left: 80px;
    word-spacing: 8px;
    margin-right: 60px;
    margin-bottom: 10px;
}

.partpartOfLaw {
    font-weight: 600;
    color: black;
    font-style: italic;
}

.link {
    color: black;
    text-decoration: underline;
}
