.content-wrapper {
    margin-top: 4vh;
}

.paragraph {
    margin-left: 35px;
    word-spacing: 7px;
    margin-right: 60px;
    margin-bottom: 10px;
    text-align: justify;
}

.image-title {
    text-align: center;
}

.image {
    max-width: 70vw;
}

.link {
    text-decoration: underline;
    color: black;
}

.normal {
    color: black;
}

.bold {
    font-weight: 600;
}

.underlined {
    text-decoration: underline;
}

.margin {
    margin-left: 70px;
}
