.wrapper {
    display: flex;
}

.btn-wrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 90vh;
    justify-content: space-between;
}

.btn {
    flex: 1;
    background-color: var(--primitive-color);
    color: white;
    border-bottom: 1px solid white;
}

.table {
    border-collapse: collapse;
    height: 100px;
}

.table-row {
    &:nth-child(even) {
        background-color: lightgray;
    }
}

.active {
    background-color: var(--green-active);
}
